<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/headerAdmin.ejs') %>
    <section class="m-5">
      <div class="container">
        <h1 class="mt-3 text-center">Kitap Düzenle</h1>
        <div class="row justify-content-center">
          <div class="col-sm-8 bg-light border border-info p-4">
            <form method="post" action="/admin/book/edit/<%= data.id %>">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              <input type="hidden" name="id" value="<%=data.id%>" />
              <div class="form-group row mb-2 mt-3">
                <label for="title" class="col-sm-3 col-form-label"
                  >Kitap Adı</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="İsim"
                    value="<%=data.name %>"
                  />
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="description" class="col-sm-3 col-form-label"
                  >Description</label
                >
                <div class="col-sm-9">
                  <textarea
                    name="description"
                    id="description"
                    class="form-control"
                  >
<%=data.description %></textarea
                  >
                </div>
              </div>
              <div class="form-group row mb-2 mt-3">
                <label for="author" class="col-sm-3 col-form-label"
                  >Kitap Yazarı</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="author"
                    name="author"
                    placeholder="Yazar"
                    value="<%=data.author %>"
                  />
                </div>
              </div>
              <div class="form-group row mb-2 mt-3">
                <label for="url" class="col-sm-3 col-form-label"
                  >Kitap Resmi</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="url"
                    name="url"
                    placeholder="Kitap Resmi URL'si"
                    value="<%=data.url %>"
                  />
                </div>
              </div>
              <div class="form-group row mb-2 mt-3">
                <label for="price" class="col-sm-3 col-form-label"
                  >Kitap Fiyatı</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                    placeholder="Ücret"
                    value="<%=data.price %>"
                  />
                </div>
              </div>
              <div class="form-group row justify-content-end mb-2">
                <div class="m-5 p-5" style="text-align: center">
                  <div class="col-auto">
                    <button type="submit" class="btn btn-success">
                      Kaydet
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer.ejs') %> <%-
    include('../partials/script.ejs') %>

    <script>
      ClassicEditor.create(document.querySelector("#explain"))
        .then((editor) => {
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });
    </script>
  </body>
</html>
