<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/headerUser.ejs') %>
    <section class="m-5">
      <div class="container">
        <h1 class="mt-3 text-center">Duyuru Detay</h1>
        <div class="row justify-content-center">
          <div class="col-sm-8 bg-light border border-info p-4">
            <div class="mb-2 mt-3">
              <h5>Konu</h5>
              <p><%= data.title %></p>
            </div>
            <div class="mb-2">
              <h5>Açıklama</h5>
              <p><%= data.exp %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer.ejs') %> <%-
    include('../partials/script.ejs') %>
  </body>
</html>
